/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Inter', sans-serif;
}

body{
  background-color: whitesmoke;
  color: black;
  position: relative;
}


/*=============== MODAL ===============*/

.popup {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  overflow-y: auto;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.popup__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__close {
  width: 18px;
  margin: 15px;
  margin-left: 32px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.popup__top__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #0B1E49;
  margin-left: 32px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.popup__content{
  width: 100%;
  max-width: 670px;
  background-color: white;
  color: #0B1E49;
  border-radius: 24px;
  padding: 16px 8px;
  position: relative;
}

.main__info {
  max-width: 656px;
  width: 100%;
  min-height: 300px;

  background: #510D62;
  background-image: url("media/bg.png"); 
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 435px;
  border-radius: 24px;
}

.popup__logo {
  max-width: 138px;
  width: 100%;
  height: 26px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 26px;
}

.popup__title {
  text-align: left;
  font-weight: 900;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFEA82 7%, #FFBD59 48%, #FFE459 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 26px;
  margin-bottom: 10px;
}

.popup__subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 28px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFEA82 6%, #FFBD59 48%, #FFE459 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 26px;
  margin-bottom: 10px;
}

.popup__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFEA82 6%, #FFBD59 48%, #FFE459 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 26px;
}

.popup__bonus__header {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #0B1E49;
  margin-left: 26px;
  margin-top: 30px;
  margin-bottom: 36px;
  
}

.popup__button {
  width: 100%;
  width: 116px;
  height: 52px;
  background: #EC610A;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: 'cpsp' on;
  color: #FFFFFF;
  mix-blend-mode: normal;
  padding: 16px 24px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 36px;
  text-decoration: none;
}

.popup__terms {
  margin-left: 26px;
  text-align: left;
}

summary {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.popup__list {
  padding: 0px 26px 0px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #0B1E49;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  cursor: pointer;
  list-style: none;
}

details summary:after {
  content: url("media/more.png");
  float: center;
  font-size: 18px;  
}

details[open] summary:after {
  content: url("media/less.png");
  float: center;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  
  .main__info {
    background-image: url("media/bg.png"); 
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
  }

  .popup__logo {
    margin-top: 180px;
  }
  .popup__subtitle{
    line-height: 40px;
    
  }

  .popup__text {
    padding-bottom: 15px;
  }

  .popup__bonus__header {
    font-size: 24px;
  }
}

